html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
nav {
    display: block;
    width: 100%;
    height: 45px ;
    box-sizing: border-box;
    background-color: #808000;
    border: solid;
}
main {
    background-color: #008000;
    width: 100%;
}
.container1 {
    width: 100%;
    height: 260px;
    display: block;
    position: relative;
}
    .rhombus {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        background-color: #FF0000;
        transform: rotate(45deg);
        border: 2px solid #000000;
    }
    #upper {
        left: 150px;
        top: 40px;
    }
    #lower {
        top: 140px;
        left: 50px;
    }
.container2 {
    width: 100%;
    height: 100px;
    display: block;
    position: relative;
}
    .line {
        top: 30px;
        left: 30px;
        width: 110px;
        height: 10px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        background-color: #0000ff;
        border: 2px solid #000000;
    }
    .line:nth-of-type(2) {
        top: 70px;
    }
    .circle {
        top: 10px;
        left: 160px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: #008080;
        position: absolute;
        border: 2px solid #000000;
    }
.container3 {
    width: 100%;
    height: 430px;
    display: block;
    position: relative;
}
    .rectangle {
        top: 15px;
        display: block;
        position: absolute;
        width: 150px;
        height: 400px;
        box-sizing: border-box;
        background-color: #0000FF;
        border: 2px solid #000000;
        left: 100px;  
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        font-family: sans-serif;
        transition: background-color 2s;
    }
@media (min-width: 583px) {
    main{
        height: 100%;
    }
    .container1, .container2, .container3 {
        position: absolute;
        width: 50%;
    }

    .container1, .container2{
        left:0;
    }

    .container2{
        top: 306px;
    }
    .container3{
        left: 300px;
    }
    .rectangle {
        background-color: #C83737;
    }
}
@media (min-width: 901px) {
    main{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .container1, .container2, .container3 {
        top: auto;
        left: auto;
        position: relative;
    }
    .container2 {
        margin-top: 80px;
    }
    .rectangle {
        background-color: #FFFFFF;
    }
}
